body{
    background-color: red;
}
.normal{
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: rgba(0 , 0 , 0, 1);/*negro*/
    color: white;
}

.bajo{
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: rgba(0 , 0 , 0 , 0.75);/*negro*/
    color: white;
}

.medio{
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: rgba(0 , 0 , 0 , 0.50);/*negro*/
    color: white;
}

.alto{
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: rgba(0 , 0 , 0 , 0.25);/*negro*/
    color: white;
}