/*
font-family: 'Chivo Mono', monospace;
font-family: 'Pacifico', cursive;
*/

h1,h2{
    color:red;
    font-family:'Pacifico',cursove;
}

p{
    color:blue;
    font-family: 'Chivo Mono', monospace;
}
.destacado{
    color:green ;
    
}